*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container{
    width: 83%;
    margin: auto;
    /* overflow: hidden; */
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn{
    width: 25px;
    position: absolute;
    top:40%;
    z-index:10;
    left:5%;
    font-size: 30px;
    color:black;
    cursor: pointer; 
    
}

#nextBtn{
    width: 25px;
    position: absolute;
    top:40%;
    z-index:10;
    right:5%;
    font-size: 30px;
    color: black;
    cursor: pointer; 
}

#prevBtn:hover{
    background-color:burlywood;
}

#nextBtn:hover{
    background-color:burlywood;
}